.Main-zoom{
    background-color: aqua;
display: flex;
justify-content: space-around;
margin-top: 20px;
background-color: white;
box-shadow: 10px 14px 18px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.phone-image{
    width: 30%;
    margin-top: 10px;
}
.priceNdiscount{
    display: flex;
    
}
p{
    margin-right: 10px;
}
.title{
    width: 50%;
}