.filter-items{
    margin: 10px;
    width: 30vh;
    height: auto;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.border1{
    border-bottom: solid;
   
    border-width: 0.1px;
    border-color: rgba(0, 0, 0, 0.795);
}
.filter-inside{
    display: flex;
    flex-direction: column;
    margin-inline: auto;
    width: 95%;
    margin-bottom: 50px;
}
.container1{
    margin-bottom: 50px;
}